@import url("https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap");
@import url(../Page/styles.css);
.section__container {
  position: relative;
  transform: scale(0);
  animation: scale-in-hor-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s 1 normal forwards; }

.section__transparent {
  background: linear-gradient(transparent, transparent), url(../../imgs/back.jpg) right center/cover no-repeat fixed;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent; }

.section__title--home {
  font-family: "Open Sans", sans-serif;
  font-size: 48px; }

@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1; }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1; } }
