@import url("https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap");
@import "../Page/styles.css";

.section {
  &__transparent {
    background: linear-gradient(transparent, transparent),
      url(../../imgs/back.jpg) right center/cover no-repeat fixed;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  &__title {
    &--home {
      font-family: "Open Sans", sans-serif;
      font-size: 48px;
    }
  }
}
