@import "../../scss/partials/section";

@import url("https://fonts.googleapis.com/css?family=Open+Sans:800&display=swap");

.section {
  &--landing {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../../imgs/back.jpg);
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  &__container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    transform: scale(0);

    animation: scale-in-hor-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 2.5s
      1 normal forwards;

    animation: name duration timing-function delay iteration-count direction
      fill-mode;
  }

  &__text-container {
    background: linear-gradient(transparent, transparent),
      url(../../imgs/back.jpg) right center/cover no-repeat fixed;
    background-clip: text;
    -webkit-background-clip: text;
    text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
  }

  &__title {
    &--home {
      font-family: "Open Sans", sans-serif;
    }
  }
}

@keyframes scale-in-hor-left {
  0% {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
