.overlay {
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center; }
  .overlay__logo-container {
    position: relative;
    z-index: 3;
    height: 60px;
    width: 60px;
    margin: 0 auto; }
    .overlay__logo-container svg path {
      fill: #fff; }
  .overlay__logo__rotate {
    animation: rotate 2s normal;
    animation-fill-mode: forwards; }
  .overlay__logo__scale {
    animation: scale 2s normal;
    animation-fill-mode: forwards; }
  .overlay__diag {
    position: absolute;
    height: 150vh;
    width: 100%; }
    .overlay__diag--top {
      width: 0;
      height: 0;
      opacity: 0.7;
      border-bottom: 100vh solid #00a2ff;
      border-right: 100vw solid transparent;
      top: 0;
      left: 0;
      animation: slide-bl 1s ease-in 1.5s;
      animation-fill-mode: forwards; }
    .overlay__diag--bottom {
      width: 0;
      height: 0;
      opacity: 0.7;
      border-right: 100vw solid #34f85f;
      border-bottom: 100vh solid transparent;
      top: 0;
      left: 0;
      animation: slide-tr 1s ease-in 1.5s;
      animation-fill-mode: forwards; }

@keyframes slide-bl {
  0% {
    transform: translateY(0) translateX(0); }
  100% {
    transform: translateY(100vh) translateX(-100vw); } }

@keyframes slide-tr {
  0% {
    transform: translateY(0) translateX(0); }
  100% {
    transform: translateY(-100vh) translateX(100vw); } }

@keyframes rotate {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes scale {
  0% {
    transform: scale(0); }
  20% {
    transform: scale(1); }
  80% {
    transform: scale(1); }
  100% {
    transform: scale(0); } }
