@import "../../../../scss/partials/global";
.proyects {
  &__proyect {
    border-bottom: 1px solid #cfcfcf;

    &__content {
      text-align: center;
      padding: 1em 0.5em;
      transition: all 150ms ease-in-out;
      @include big-screens {
        padding: 2em 1em;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &__title {
      font-size: 20px;

      @include big-screens {
        font-size: 28px;
      }
    }

    &__icons {
      display: flex;
      justify-content: center;
      padding: 10px;
    }
    &__icon {
      transition: all 0.2 s ease;
      &:hover {
        transform: scale(1.3);
      }
    }

    &__button {
      border: 1px solid rgb(173, 173, 173);
      border-radius: 8px;
      width: 50%;
      min-width: 210px;
      margin: 20px auto;
    }

    &__link {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      padding: 8px 20px;
      color: #333;
    }
  }
}
